





<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html>
<head>
<title>Laying Out Components Within a Container</title>
<script language="JavaScript">
<!-- hide
function openWin(term) {
  url="../../information/glossary.html#" + term;
  myWin= window.open(url, "Glossary",
              "width=400,height=150,scrollbars=yes,status=no,toolbar=no,menubar=no");
  myWin.focus();
}
//-->
</script>
</head>
<body BGCOLOR="#ffffff" LINK="#000099">
<B><FONT SIZE="-1">The Java</font><sup><font size="-2">TM</font></sup> <font size="-1">Tutorial</FONT></B>
<br>
<table width="550" summary="layout">
<tr>
<td align="left" valign="center">
<a href="../misc/index.html" target="_top"><img src="../../images/PreviousArrow.gif" width="26" height="26" align="center" border="0" alt="Previous Page"></a>
<a href="../TOC.html#layout" target="_top"><img src="../../images/TOCIcon.gif" width="26" height="26" align="center" border="0" alt="Lesson Contents"></a>
<a href="visual.html" target="_top"><img src="../../images/NextArrow.gif" width="26" height="26" align="center" border="0" alt="Next Page"></a></td>

<td align="center" valign="center">
<font size="-1">
<a href="../../index.html" target="_top">Start of Tutorial</a>
&gt;
<a href="../index.html" target="_top">Start of Trail</a>
</font>
</td>

<td align="right" valign="center">
<font size="-1">
<a href="../../search.html" target="_top">Search</a>
<br><a href="../../forms/sendusmail.html">Feedback Form</a>
<br><a href="example-1dot4/index.html" target="_top">Examples Index (1.4)</a>
</font>
</td>

</tr>
</table>
<img src="../../images/blueline.gif" width="550" height="8" ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT="">

<br>
<font size="-1">
<b>Trail</b>: Creating a GUI with JFC/Swing
</font>

<h2>
Lesson: Laying Out Components Within a Container
</h2>
<blockquote>
This lesson tells you how to use the layout managers
that the Java platform provides.
It also tells you how to use absolute positioning (no layout manager)
and gives an example of writing a custom layout manager.


For each layout manager (or lack thereof),
this 
lesson
points to an example
that you can run using Java<sup><font size=-2>TM</font></sup> Web Start.
By resizing the example's window,
you can see how size changes affect the layout.

</blockquote>
<h3>
<a href=visual.html>A Visual Guide to Layout Managers</a>
</h3>
<blockquote>
This section shows examples of the standard layout managers
and points to each one's how-to section.
</blockquote>

<h3>
<a href=using.html>Using Layout Managers</a>
</h3>
<blockquote>
This section gives general rules 
on using the standard layout managers.
It includes how to set the layout manager,
add components to a container, 
provide size and alignment hints,
put space between components,
and set the orientation of the container's layout
so that it's appropriate for the locale
in which the program is running.
It also has some tips for choosing the right layout manager.
</blockquote>

<h3>
<a href="howLayoutWorks.html">How Layout Management Works</a>
</h3>
<blockquote>
This section goes through a typical layout sequence
and then describes what happens when a component's size changes.
</blockquote>

<h3>
<a href="layoutlist.html">How to...</a>
</h3>
<blockquote>
This series of sections tells you how to use
each of the general-purpose layout managers
that the Java platform provides.
</blockquote>


</blockquote>
<h3>
<a href=custom.html>Creating a Custom Layout Manager</a>
</h3>
<blockquote>
Instead of using one of the Java platform's layout managers,
you can write your own.
Layout managers must implement the <code>LayoutManager</code> interface,
which specifies the five methods every layout manager must define.
Optionally, layout managers can implement <code>LayoutManager2</code>,
which is a subinterface of <code>LayoutManager</code>.


</blockquote>
<h3>
<a href=none.html>Doing Without a Layout Manager (Absolute Positioning)</a>
</h3>
<blockquote>
If necessary, you can position components 
without using a layout manager.
Generally, this solution is used to specify absolute sizes and positions
for components.
</blockquote>


<h3>
<a href=problems.html>Solving Common Layout Problems</a>
</h3>
<blockquote>
Some of the most common layout problems 
are that components are displayed too small &#151;
or not at all.
This section
tells you how to fix these and
other common layout problems.

</blockquote>


<h3>
<a target="_top" href="../QandE/questions-ch4.html">Questions and Exercises</a><a target="_top" href="../QandE/questions-ch4.html"><img src="../../images/tutorialIcon.gif" width=11 height=11 border=0 align="ABSMIDDLE" alt=" (in the Creating a GUI with JFC/Swing trail)"></a></h3>  
<blockquote>
Try these questions and exercises to test what you've learned in this lesson.
</blockquote> 



</blockquote>

<img src="../../images/blueline.gif" width="550" height="8" ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT="">
<br>
<table width="550" summary="layout">
<tr>
<td align="left" valign="center">
<a href="../misc/index.html" target="_top"><img src="../../images/PreviousArrow.gif" width="26" height="26" align="center" border="0" alt="Previous Page"></a>
<a href="../TOC.html#layout" target="_top"><img src="../../images/TOCIcon.gif" width="26" height="26" align="center" border="0" alt="Lesson Contents"></a>
<a href="visual.html" target="_top"><img src="../../images/NextArrow.gif" width="26" height="26" align="center" border="0" alt="Next Page"></a></td>

<td align="center" valign="center">
<font size="-1">
<a href="../../index.html" target="_top">Start of Tutorial</a>
&gt;
<a href="../index.html" target="_top">Start of Trail</a>
</font>
</td>

<td align="right" valign="center">
<font size="-1">
<a href="../../search.html" target="_top">Search</a>
<br><a href="../../forms/sendusmail.html">Feedback Form</a>
<br><a href="example-1dot4/index.html" target="_top">Examples Index (1.4)</a>
</font>
</td>

</tr>
</table>
<p>
<font size="-1">
<a href="../../information/copyright.html">Copyright</a>
1995-2004 Sun Microsystems, Inc.  All rights reserved.
</font>
</p>
</body>
</html>
