





<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html>
<head>
<title>Using Layout Managers</title>
<script language="JavaScript">
<!-- hide
function openWin(term) {
  url="../../information/glossary.html#" + term;
  myWin= window.open(url, "Glossary",
              "width=400,height=150,scrollbars=yes,status=no,toolbar=no,menubar=no");
  myWin.focus();
}
//-->
</script>
</head>
<body BGCOLOR="#ffffff" LINK="#000099">
<B><FONT SIZE="-1">The Java</font><sup><font size="-2">TM</font></sup> <font size="-1">Tutorial</FONT></B>
<br>
<table width="550" summary="layout">
<tr>
<td align="left" valign="center">
<a href="visual.html" target="_top"><img src="../../images/PreviousArrow.gif" width="26" height="26" align="center" border="0" alt="Previous Page"></a>
<a href="../TOC.html#layout" target="_top"><img src="../../images/TOCIcon.gif" width="26" height="26" align="center" border="0" alt="Lesson Contents"></a>
<a href="howLayoutWorks.html" target="_top"><img src="../../images/NextArrow.gif" width="26" height="26" align="center" border="0" alt="Next Page"></a></td>

<td align="center" valign="center">
<font size="-1">
<a href="../../index.html" target="_top">Start of Tutorial</a>
&gt;
<a href="../index.html" target="_top">Start of Trail</a>
&gt;
<a href="index.html" target="_top">Start of Lesson</a>
</font>
</td>

<td align="right" valign="center">
<font size="-1">
<a href="../../search.html" target="_top">Search</a>
<br><a href="../../forms/sendusmail.html">Feedback Form</a>
</font>
</td>

</tr>
</table>
<img src="../../images/blueline.gif" width="550" height="8" ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT="">
<br>

<font size="-1">
<b>Trail</b>: Creating a GUI with JFC/Swing
<br>
<b>Lesson</b>: Laying Out Components Within a Container
</font>

<h2>
Using Layout Managers
</h2>
<blockquote>
A layout manager
is an object that
implements the <code>LayoutManager</code>
interface<a href="#footnote">*</a>
and determines the size and position
of the components
within a container.
Although components can provide size and alignment hints,
a container's layout manager
has the final say
on the size and position of the components
within the container.

<p>
This section discusses some of the common
tasks related to using layout managers:


<ul>
<li> <a href="#set"> Setting the Layout Manager </a>
<li> <a href="#add"> Adding Components to a Container </a>
<li> <a href="#sizealignment"> Providing Size and Alignment Hints </a>
<li> <a href="#space"> Putting Space Between Components </a>
<li> <a href="#orientation">Setting the Container's Orientation</a>
</ul>

It ends with 
<a href="#choosing">Tips on Choosing a Layout Manager</a>.

</blockquote>
<h3>
<a name="set"> Setting the Layout Manager </a>
</h3>

<blockquote>
As a rule, the only containers
whose layout managers you need to worry about are
<a target="_top" href="../components/panel.html"><code>JPanel</code>s</a><a target="_top" href="../components/panel.html"><img src="../../images/tutorialIcon.gif" width=11 height=11 border=0 align="ABSMIDDLE" alt=" (in the Creating a GUI with JFC/Swing trail)"></a> and
<a target="_top" href="../components/toplevel.html#contentpane">content panes</a><a target="_top" href="../components/toplevel.html#contentpane"><img src="../../images/tutorialIcon.gif" width=11 height=11 border=0 align="ABSMIDDLE" alt=" (in the Creating a GUI with JFC/Swing trail)"></a>.
Each <code>JPanel</code> object
is initialized to use a <code>FlowLayout</code>,
unless you specify differently when
creating the <code>JPanel</code>.
Content panes
use <code>BorderLayout</code> by default.
If you don't like the default layout manager
that a panel or content pane uses,
you're free to change it to a different one.

<p>
You can set a panel's layout manager
using the <code>JPanel</code> constructor.
For example:

<blockquote><pre>
JPanel panel = new JPanel(new BorderLayout());
</pre></blockquote>

After a container has been created,
you can set its layout manager using the
<code>setLayout</code> method.
For example:

<blockquote><pre>
Container contentPane = frame.getContentPane();
contentPane.setLayout(new FlowLayout());
</pre></blockquote>

<p>
Although we recommend that you use layout managers,
you can perform layout without them.
By setting a container's layout property to null,
you make the container use no layout manager.
With this strategy, called <em>absolute positioning</em>,
you must specify the size and position
of every component within that container.
One drawback of absolute positioning
is that it doesn't adjust well when the top-level container is resized.
It also doesn't adjust well
to differences between users and systems,
such as different font sizes and
<a target="_top" href="../../i18n/locale/">locales</a><a target="_top" href="../../i18n/locale/"><img src="../../images/tutorialIcon.gif" width=11 height=11 border=0 align="ABSMIDDLE" alt=" (in the Creating a GUI with JFC/Swing trail)"></a>.


</blockquote>
<h3>
<a name="add"> Adding Components to a Container </a>
</h3>
<blockquote>
When you add components to a panel or content pane,
the arguments you specify to the <code>add</code> method
depend on the layout manager that the panel or content pane is using.
For example, <code>BorderLayout</code>
requires that you specify the area
to which the component should be added,
using code like this:

<blockquote><pre>
pane.add(aComponent, BorderLayout.PAGE_START);
</pre></blockquote>

<p>
The how-to section
for each layout manager
has details on what, if any,
arguments you need to specify to
the <code>add</code> method.
Some layout managers,
such as <code>GridBagLayout</code>
and <code>SpringLayout</code>,
require elaborate setup procedures.
Many layout managers, however,
simply place components
based on the order they were added to their container.

<p>
Swing containers
other than <code>JPanel</code> and content panes
generally provide API that you should use
instead of the <code>add</code> method.
For example, instead of adding a component
directly to a
<a target="_top" href="../components/scrollpane.html">scroll pane</a><a target="_top" href="../components/scrollpane.html"><img src="../../images/tutorialIcon.gif" width=11 height=11 border=0 align="ABSMIDDLE" alt=" (in the Creating a GUI with JFC/Swing trail)"></a> (or, actually, to its viewport),
you either specify the component in the <code>JScrollPane</code> constructor
or use <code>setViewportView</code>.
Because of specialized API like this,
you don't need to know
which layout manager (if any) many Swing containers use.
(For the curious:
scroll panes happen to use a layout manager
named <code>ScrollPaneLayout</code>.)

<p>
For information about how to add components to a specific container,
see the how-to page for the container.
You can find the component how-to pages using
<a target="_top" href="../components/components.html">A Visual Index to the Swing Components</a><a target="_top" href="../components/components.html"><img src="../../images/tutorialIcon.gif" width=11 height=11 border=0 align="ABSMIDDLE" alt=" (in the Creating a GUI with JFC/Swing trail)"></a>.


</blockquote>
<h3>
<a name="sizealignment"> Providing Size and Alignment Hints </a>
</h3>
<blockquote>

Sometimes you need to customize the size hints
that a component provides to its container's layout manager,
so that the component will be laid out well.
You can do this by specifying one or more of the
minimum, preferred, and maximum sizes of the component.
You can invoke the component's
methods for setting size hints &#151;
<code>setMinimumSize</code>,
<code>setPreferredSize</code>,
and <code>setMaximumSize</code>.
Or you can create a subclass of the component
that overrides the appropriate getter methods &#151;
<code>getMinimumSize</code>,
<code>getPreferredSize</code>,
and <code>getMaximumSize</code>.
Here is an example of making a component's maximum size unlimited:

<blockquote><pre>
component.setMaximumSize(new Dimension(Integer.MAX_VALUE,
                                       Integer.MAX_VALUE));
</pre></blockquote>

<p>
Many layout managers don't pay attention
to a component's requested maximum size.
However,
<code>BoxLayout</code> and <code>SpringLayout</code> do.

<p>

Besides providing size hints,
you can also provide alignment hints.
For example,
you can specify that the top edges of two components should be aligned.
You set alignment hints either by invoking the component's
<code>setAlignmentX</code> and
<code>setAlignmentY</code> methods,
or by overriding the component's
<code>getAlignmentX</code> and
<code>getAlignmentY</code> methods.
Although most layout managers ignore alignment hints,
<code>BoxLayout</code> honors them.
You can find examples of setting the alignment in
<a href="box.html">How to Use BoxLayout</a>.


</blockquote>
<h3>
<a name="space">Putting Space Between Components</a>
</h3>
<blockquote>
Three factors influence the amount of space
between visible components in a container:

<dl>
<dt> The layout manager
<dd> Some layout managers automatically put space
     between components; others don't.
     Some let you specify the amount of space between components.
     See the how-to page for each layout manager
     for information about spacing support.

<dt> Invisible components
<dd> You can create lightweight components
     that perform no painting,
     but that can take up space in the GUI.
     Often, you use invisible components
     in containers controlled by <code>BoxLayout</code>.
     See <a href="box.html">How to Use BoxLayout</a>
     for examples of using invisible components.

<dt> Empty borders
<dd> No matter what the layout manager,
     you can affect the apparent amount of space
     between components
     by adding empty borders to components.
     The best candidates for empty borders are
     components that typically have no default border,
     such as panels and labels.
     Some other components might not work well with borders
     in some look-and-feel implementations,
     because of the way their painting code is implemented.
     For information about borders, see
<a target="_top" href="../misc/border.html">How to Use Borders</a><a target="_top" href="../misc/border.html"><img src="../../images/tutorialIcon.gif" width=11 height=11 border=0 align="ABSMIDDLE" alt=" (in the Creating a GUI with JFC/Swing trail)"></a>.
</dl>


</blockquote>
<h3>
<a name="orientation">Setting the Container's Orientation</a>
</h3>
<blockquote>

This
website
is written in English,
with text that runs from left to right,
and then top to bottom.
However, many other languages have
different orientations.
The <em>componentOrientation</em> property
provides a way of indicating
that a particular component
should use something different
from the default
left-to-right,
top-to-bottom orientation.
In a component such as a radio button,
the orientation might be used
as a hint
that the look and feel should
switch the locations of the icon and text in the button.
In a container,
the orientation is used
as a hint to the layout manager.

<p>
To set a container's orientation, you can use either
the <code>Component</code>-defined method
<a target="_blank" href="http://java.sun.com/j2se/1.4.2/docs/api/java/awt/Component.html#setComponentOrientation(java.awt.ComponentOrientation)"><font color="#8800bb"><code>setComponentOrientation</code></font></a><a target="_blank" href="http://java.sun.com/j2se/1.4.2/docs/api/java/awt/Component.html#setComponentOrientation(java.awt.ComponentOrientation)"><img src="../../images/apiIcon.gif" width=11 height=11 border=0 align="ABSMIDDLE" alt=" (in the API reference documentation)"></a> or,
to set the orientation on the container's children as well,
<a target="_blank" href="http://java.sun.com/j2se/1.4.2/docs/api/java/awt/Component.html#applyComponentOrientation(java.awt.ComponentOrientation)"><font color="#8800bb"><code>applyComponentOrientation</code></font></a><a target="_blank" href="http://java.sun.com/j2se/1.4.2/docs/api/java/awt/Component.html#applyComponentOrientation(java.awt.ComponentOrientation)"><img src="../../images/apiIcon.gif" width=11 height=11 border=0 align="ABSMIDDLE" alt=" (in the API reference documentation)"></a>.
The argument to either method
can be a constant
such as <code>ComponentOrientation.RIGHT_TO_LEFT</code>,
or it can be a call to the <code>ComponentOrientation</code> method
<a target="_blank" href="http://java.sun.com/j2se/1.4.2/docs/api/java/awt/ComponentOrientation.html#getOrientation(java.util.Locale)"><font color="#8800bb"><code>getOrientation(Locale)</code></font></a><a target="_blank" href="http://java.sun.com/j2se/1.4.2/docs/api/java/awt/ComponentOrientation.html#getOrientation(java.util.Locale)"><img src="../../images/apiIcon.gif" width=11 height=11 border=0 align="ABSMIDDLE" alt=" (in the API reference documentation)"></a>.  For example,
the following code causes all
<code>JComponent</code>s
to be initialized with an Arabic-language locale,
and then sets the orientation
of the content pane and all components inside it accordingly:

<blockquote><pre>
JComponent.setDefaultLocale(new Locale("ar"));
JFrame frame = new JFrame();
...
Container contentPane = frame.getContentPane();
contentPane.applyComponentOrientation(
    ComponentOrientation.getOrientation(
        contentPane.getLocale()));
</pre></blockquote>

Here are two pictures
showing how <code>FlowLayout</code> lays out components
in containers
that are exactly the same,
except for their orientation.

<p align=center>
<IMG SRC="../../figures/uiswing/layout/FlowLayoutDemo.gif" WIDTH="480" HEIGHT="69" ALT="FlowLayoutDemo with default, left-to-right orientation"><br>
Default orientation (left-to-right)
</p>

<p align=center>
<IMG SRC="../../figures/uiswing/layout/FlowLayoutDemo-rtl.gif" WIDTH="480" HEIGHT="69" ALT="FlowLayoutDemo with right-to-left orientation"><br>
Right-to-left orientation
</p>

The standard layout managers
that support component orientation
are <code>FlowLayout</code>,
<code>BorderLayout</code>,
<code>BoxLayout</code>,
<code>GridBagLayout</code>, and
<code>GridLayout</code>.


</blockquote>
<h3>
<a name="choosing">
Tips on Choosing a Layout Manager
</a>
</h3>
<blockquote>
Layout managers
have different strengths and weaknesses.
This section discusses some common layout scenarios
and which layout managers might work for each scenario.
If none of the layout managers we discuss is right for your situation,
feel free to use other layout managers
that you write or find.
Also keep in mind that flexible layout managers
such as <code>GridBagLayout</code> and
<code>SpringLayout</code>
can fulfill many layout needs.

<p>

<dl>
<dt><strong>Scenario:</strong>
You need to display a component in as much space as it can get.
<dd>
If it's the only component in its container,
use
<a href="grid.html"><code>GridLayout</code></a> or
<a href="border.html"><code>BorderLayout</code></a>.
Otherwise,
<code>BorderLayout</code> or
<a href="gridbag.html"><code>GridBagLayout</code></a>
might be a good match.

<p>
If you use <code>BorderLayout</code>,
you'll need to put the space-hungry component in the center.
With <code>GridBagLayout</code>,
you'll need to set the constraints for the component so that
<code>fill=GridBagConstraints.BOTH</code>.
Another possibility is to use
<a href="box.html"><code>BoxLayout</code></a>,
making the space-hungry component
specify very large preferred and maximum sizes.

<p>

<dt><strong>Scenario:</strong>
You need to display a few components in a compact row
at their natural size.
<dd>
Consider using a <code>JPanel</code> to group the components
and using either the <code>JPanel</code>'s default
<a href="flow.html"><code>FlowLayout</code></a> manager
or the
<a href="box.html"><code>BoxLayout</code></a> manager.
<a href="spring.html"><code>SpringLayout</code></a>
is also good for this.

<p>

<dt><strong>Scenario:</strong>
You need to display a few components of the same size
in rows and columns.
<dd>
<a href="grid.html"><code>GridLayout</code></a> is perfect for this.

<p>

<dt><strong>Scenario:</strong>
You need to display a few components in a row or column,
possibly with varying amounts of space between them,
custom alignment, or custom component sizes.
<dd>
<a href="box.html"><code>BoxLayout</code></a>
is perfect for this.

<p>

<dt><strong>Scenario:</strong>
You need to display aligned columns,
as in a form-like interface
where a column of labels
is used to describe text fields in an adjacent column.
<dd>
<a href="spring.html"><code>SpringLayout</code></a>
is a natural choice for this.
The <code>SpringUtilities</code> class
used by several Tutorial examples
defines a <code>makeCompactGrid</code> method
that lets you easily align multiple rows and columns of components.

<p>

<dt><strong>Scenario:</strong>
You have a complex layout with many components.
<dd>
Consider either using
a very flexible layout manager such as
<a href="gridbag.html"><code>GridBagLayout</code></a> or
<a href="spring.html"><code>SpringLayout</code></a>,
or grouping the components into one or more <code>JPanel</code>s
to simplify layout.
If you take the latter approach,
each <code>JPanel</code> might use a different layout manager.

</dl>


</blockquote>
</blockquote>
<hr>
<font size=-1>
<a href="#layoutmanager">*</a>
<a name="footnote">Way back in JDK 1.1</a>
a second interface, <code>LayoutManager2</code>, was introduced.
<code>LayoutManager2</code> extends
<code>LayoutManager</code>,
providing support for maximum size and alignment.
Many layout managers don't use those features,
however.
</font>

<blockquote>
</blockquote>

<img src="../../images/blueline.gif" width="550" height="8" ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT="">
<br>
<table width="550" summary="layout">
<tr>
<td align="left" valign="center">
<a href="visual.html" target="_top"><img src="../../images/PreviousArrow.gif" width="26" height="26" align="center" border="0" alt="Previous Page"></a>
<a href="../TOC.html#layout" target="_top"><img src="../../images/TOCIcon.gif" width="26" height="26" align="center" border="0" alt="Lesson Contents"></a>
<a href="howLayoutWorks.html" target="_top"><img src="../../images/NextArrow.gif" width="26" height="26" align="center" border="0" alt="Next Page"></a></td>

<td align="center" valign="center">
<font size="-1">
<a href="../../index.html" target="_top">Start of Tutorial</a>
&gt;
<a href="../index.html" target="_top">Start of Trail</a>
&gt;
<a href="index.html" target="_top">Start of Lesson</a>
</font>
</td>

<td align="right" valign="center">
<font size="-1">
<a href="../../search.html" target="_top">Search</a>
<br><a href="../../forms/sendusmail.html">Feedback Form</a>
</font>
</td>

</tr>
</table>
<p>
<font size="-1">
<a href="../../information/copyright.html">Copyright</a>
1995-2004 Sun Microsystems, Inc.  All rights reserved.
</font>
</p>
</body>
</html>
