





<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html>
<head>
<title>How to...</title>
<script language="JavaScript">
<!-- hide
function openWin(term) {
  url="../../information/glossary.html#" + term;
  myWin= window.open(url, "Glossary",
              "width=400,height=150,scrollbars=yes,status=no,toolbar=no,menubar=no");
  myWin.focus();
}
//-->
</script>
</head>
<body BGCOLOR="#ffffff" LINK="#000099">
<B><FONT SIZE="-1">The Java</font><sup><font size="-2">TM</font></sup> <font size="-1">Tutorial</FONT></B>
<br>
<table width="550" summary="layout">
<tr>
<td align="left" valign="center">
<a href="textapi.html" target="_top"><img src="../../images/PreviousArrow.gif" width="26" height="26" align="center" border="0" alt="Previous Page"></a>
<a href="../TOC.html#components" target="_top"><img src="../../images/TOCIcon.gif" width="26" height="26" align="center" border="0" alt="Lesson Contents"></a>
<a href="applet.html" target="_top"><img src="../../images/NextArrow.gif" width="26" height="26" align="center" border="0" alt="Next Page"></a></td>

<td align="center" valign="center">
<font size="-1">
<a href="../../index.html" target="_top">Start of Tutorial</a>
&gt;
<a href="../index.html" target="_top">Start of Trail</a>
&gt;
<a href="index.html" target="_top">Start of Lesson</a>
</font>
</td>

<td align="right" valign="center">
<font size="-1">
<a href="../../search.html" target="_top">Search</a>
<br><a href="../../forms/sendusmail.html">Feedback Form</a>
</font>
</td>

</tr>
</table>
<img src="../../images/blueline.gif" width="550" height="8" ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT="">
<br>

<font size="-1">
<b>Trail</b>: Creating a GUI with JFC/Swing
<br>
<b>Lesson</b>: Using Swing Components
</font>

<h2>
How to...
</h2>
<blockquote>

Each of the following pages describes
how to use a particular kind of Swing component.
Another way to get to these pages is through
<a target="_top" href="components.html">A Visual Index to the Swing Components</a><a target="_top" href="components.html"><img src="../../images/tutorialIcon.gif" width=11 height=11 border=0 align="ABSMIDDLE" alt=" (in the Creating a GUI with JFC/Swing trail)"></a>.

<ul>
<li>
<a href="applet.html">How to Make Applets</a>
<li>
<a href="button.html">How to Use Buttons, Check Boxes, and Radio
Butt
ons</a>
<li>
<a href="colorchooser.html">How to Use Color Choosers</a>
<li>
<a href="combobox.html">How to Use Combo Boxes</a>
<li>
<a href="dialog.html">How to Make Dialogs</a>
<li>
<a href="editorpane.html">How to Use Editor Panes and Text Panes</a>
<li>
<a href="filechooser.html">How to Use File Choosers</a>
<li>
<a href="formattedtextfield.html">How to Use Formatted Text Fields</a>
<li>
<a href="frame.html">How to Make Frames (Main Windows)</a>
<li>
<a href="internalframe.html">How to Use Internal Frames</a>
<li>
<a href="label.html">How to Use Labels</a>
<li>
<a href="layeredpane.html">How to Use Layered Panes</a>
<li>
<a href="list.html">How to Use Lists</a>
<li>
<a href="menu.html">How to Use Menus</a>
<li>
<a href="panel.html">How to Use Panels</a>
<li>
<a href="passwordfield.html">How to Use Password Fields</a>
<li>
<a href="progress.html">How to Use Progress Bars</a>
<li>
<a href="rootpane.html">How to Use Root Panes</a>
<li>
<a href="scrollpane.html">How to Use Scroll Panes</a>
<li>
<a href="separator.html">How to Use Separators</a>
<li>
<a href="slider.html">How to Use Sliders</a>
<li>
<a href="spinner.html">How to Use Spinners</a>
<li>
<a href="splitpane.html">How to Use Split Panes</a>
<li>
<a href="tabbedpane.html">How to Use Tabbed Panes</a>
<li>
<a href="table.html">How to Use Tables</a>
<li>
<a href="textarea.html">How to Use Text Areas</a>
<li>
<a href="textfield.html">How to Use Text Fields</a>
<li>
<a href="toolbar.html">How to Use Tool Bars</a>
<li>
<a href="tooltip.html">How to Use Tool Tips</a>
<li>
<a href="tree.html">How to Use Trees</a>
</ul>

</blockquote>

<img src="../../images/blueline.gif" width="550" height="8" ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT="">
<br>
<table width="550" summary="layout">
<tr>
<td align="left" valign="center">
<a href="textapi.html" target="_top"><img src="../../images/PreviousArrow.gif" width="26" height="26" align="center" border="0" alt="Previous Page"></a>
<a href="../TOC.html#components" target="_top"><img src="../../images/TOCIcon.gif" width="26" height="26" align="center" border="0" alt="Lesson Contents"></a>
<a href="applet.html" target="_top"><img src="../../images/NextArrow.gif" width="26" height="26" align="center" border="0" alt="Next Page"></a></td>

<td align="center" valign="center">
<font size="-1">
<a href="../../index.html" target="_top">Start of Tutorial</a>
&gt;
<a href="../index.html" target="_top">Start of Trail</a>
&gt;
<a href="index.html" target="_top">Start of Lesson</a>
</font>
</td>

<td align="right" valign="center">
<font size="-1">
<a href="../../search.html" target="_top">Search</a>
<br><a href="../../forms/sendusmail.html">Feedback Form</a>
</font>
</td>

</tr>
</table>
<p>
<font size="-1">
<a href="../../information/copyright.html">Copyright</a>
1995-2004 Sun Microsystems, Inc.  All rights reserved.
</font>
</p>
</body>
</html>
